body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.container {
    margin-top: 70px;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
#botStatus {
    width: 100%;
    height: 95px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    background: rgb(235, 69, 69);
    cursor: pointer;

    > img {
        width: 50px;
        height: 50px;
    }
}
.addUser {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 7px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px gray solid;

    input {
        flex-grow: 1;
        border: none;
        border-right: none;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 16px;
        outline: none;
        min-width: 0;
    }

    button {
        width: 37px;
        height: 37px;
        border: none;
        border-left: 1px gray solid;
        box-sizing: border-box;
        font-size: 28px;
        flex-shrink: 0;
        margin: 0;
        color: rgb(100, 100, 100);
        cursor: pointer;
        outline: none;
    }
}
#list {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    border-radius: 7px;
    overflow: hidden;
    border: 1px gray solid;
    box-sizing: border-box;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 37px;
        border: none;
        border-bottom: none;
        border-bottom: 1px gray solid;

        > a {
            flex-grow: 1;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
            padding: 0 10px;
        }

        button {
            box-sizing: border-box;
            flex-shrink: 0;
            height: 100%;
            width: 37px;
            font-size: 18px;
            color: rgb(160, 160, 160);
            border: none;
            outline: none;
            border-left: 1px gray solid;
            cursor: pointer;
        }
    }
    .row:last-child {
        border: none;
    }
}
#error {
    color: red;
    font-size: 16px;
}
#cloneRow {
    display: none;
}

.active {
    background: rgb(93, 235, 93) !important;
}